@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SFPro";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("/fonts/SFPro.OTF") format("OTF");
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}

::-webkit-scrollbar:window-inactive {
  display: none;
}

.absoluteTop {
  transform: translate(0%, 10%) !important;
}

.absoluteHalf {
  transform: translate(0%, -50%) !important;
}

.absoluteBottom {
  transform: translate(0%, -10%) !important;
}

@media screen and (min-width: 1024px) {
  .absoluteBottomContent {
    transform: translate(0%, -15%) !important;
  }
}

@media screen and (max-width: 1024px) {
  .absoluteBottomContent {
    transform: translate(0%, -10%) !important;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
