---

---

<article class="flex flex-col md:flex-row justify-between w-full gap-y-10">
  <section class="flex flex-col gap-y-1 font-primary text-white text-[14px] text-center md:text-start">
    <p>
      MR. HOME 2011-2023 © Todos los derechos reservados. 
    </p>
    <p>
      Diseñado por Paragram Co
    </p>
    <p class="font-bold">
      Powered by Openbox
    </p>
  </section>
  <section class="flex justify-center items-center gap-4">
    <img src="../assets/Group.svg" alt="Group" class="w-[40px] h-[40px] bg-grayBroker" />
    <img src="../assets/Group.svg" alt="Group" class="w-[40px] h-[40px] bg-grayBroker" />
    <img src="../assets/Group.svg" alt="Group" class="w-[40px] h-[40px] bg-grayBroker" />
    <img src="../assets/Group.svg" alt="Group" class="w-[40px] h-[40px] bg-grayBroker" />
  </section>
</article>