---
import BottomFooter from "./BottomFooter.astro";
import TopFooter from "./TopFooter.astro";
const { t } = Astro.props;
---

  <footer class="bg-blueBroker w-full pt-[180px] lg:pt-[100px] pb-10">
    <section class="max-w-[1600px] mx-auto px-[30px] md:px-[50px] transition-all ease-in-out">
      <TopFooter t={t} />
      <div class="h-[1px] w-full bg-grayBroker my-10 md:my-[48px] lg:my-[56px] ease-in-out transition-all">
      </div>
      <BottomFooter t={t} />
    </section>
  </footer> 