---
import '../styles/global.css'
import Navbar from '@/components/react/Navbar'
import FormSection from '@/components/react/FormSection'
import { ViewTransitions } from 'astro:transitions';
import ContentMotion from "@/components/react/ContentMotion";
import Welcome from "@/components/UI/Welcome.astro";
import Details from "@/components/UI/Details.astro";
import ApartmentsSection from "@/components/UI/Apartments/ApartmentsSection.astro";
import Banner from "@/components/UI/Banner.astro";
import Amenities from "@/components/UI/Amenities/Amenities.astro";
import AmenitiesZone from "@/components/UI/Amenities/AmenitiesZone.astro";
import Footer from "@/components/UI/Footer/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Poseidonia</title>
		<ViewTransitions transition:persist />
	</head>
	<body>
		<Navbar url={Astro.url}  client:load  />
		<FormSection client:load /> 
		<ContentMotion client:visible sx='mt-20 md:mt-[180px]'>
			<Welcome />
		</ContentMotion>
			<Details client:visible />
		 <section class="bg-blueBroker w-full h-[500px]">
		</section> 
	 <ContentMotion client:visible sx='rounded-tl-[40px] rounded-tr-[40px] bg-white absoluteBottom'>
			<section class="absoluteHalf px-[30px]">
				<div class="bg-grayBroker max-w-xl mx-auto h-[400px] rounded-3xl">
				</div>
			</section>
		</ContentMotion> 
		<ContentMotion client:visible sx='absoluteBottomContent'>
			<ApartmentsSection />
		</ContentMotion> 
		<Banner client:visible />
		<section class="bg-grayBroker w-full h-[720px]">
		</section> 
		<Amenities />
		<AmenitiesZone />
		<ContentMotion client:visible sx='!rounded-bl-[40px] !rounded-br-[40px] bg-white absoluteFooter'>
			<section class="absoluteFooterContent px-[30px]">
				<iframe
					class="mx-auto w-full lg:max-w-[600px] h-[400px] rounded-3xl"
					src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=10.96785693995,-74.79259371757509&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
					allowfullscreen=""
					loading="lazy"
				>
				</iframe>
			</section>
		</ContentMotion> 
		<Footer client:visible />
	</body>
</html>
