---
const {image} = Astro.props;
---
<section class="flex justify-center items-center transition-all ease-in-out rounded-[22px] border bg-whiteContainBroker border-[#0000000F] p-3 md:p-5 w-fit min-w-[160px] h-[320px] md:h-fit">
  {image && 
    <img width="200px" height="400px" src={image} alt='Poseidonia Apartement' title='Poseidonia Apartment' class="h-[400px] object-scale-down"/>
    }
</section>