---
const { t } = Astro.props;
---

<section class='py-3 px-7 bg-blueBroker text-[#FFFFFF] text-center overflow-hidden relative whitespace-nowrap border-t border-b border-[#0000001A]'>
  <h2 class='inline-block animate-[marquee_20s_linear_infinite] md:animate-none font-light'>
    <span class="font-medium">{t('banner_title')}</span> {t('banner_subtitle')}
  </h2>
</section>