---
---

<section class='py-2 px-7 bg-blueBroker text-[#FFFFFF] text-center overflow-hidden relative whitespace-nowrap border-t border-b border-[#0000001A]'>
  <h2 class='inline-block animate-[marquee_20s_linear_infinite] md:animate-none'>
    <span class="font-semibold">Reserva con USD$1000 </span>Separación 10% (Incluye el monto de la reserva). Durante construcción 20% Contra entrega 70%
  </h2>
</section>