---
import ItemDetails from "./ItemDetails.astro";
---

<section class="mx-auto w-full lg:max-w-[900px] transition-all ease-in-out flex flex-col gap-y-5 px-[30px] md:px-[45px]">
  <article class="rounded-lg">
    <header class="flex gap-x-5 h-full">
      <div>
        <h2 class="text-black">Ubicación</h2>
        <h3 class="text-[24px] leading-none font-bold text-black">Miches, RD</h3>
      </div>
      <div class="h-12 w-[1px] bg-grayBroker">
      </div>
      <div>
        <h2 class="text-black">Desde</h2>
        <h3 class="text-[24px] leading-none font-bold text-black">USD $225,000</h3>
      </div>
    </header>
    <p class="text-black w-full leading-7 mt-5">
      Este exclusivo proyecto ofrece acceso en primera línea a playas vírgenes que mezclan las impresionantes vistas de cara al océano y un fondo montañoso, convirtiéndolo en una oportunidad de inversión con una extraordinaria proyección de plusvalía.
      Aprovecha la oportunidad de invertir en la exclusividad de Miches, República Dominicana.
    </p>
  </article>
  <div class="h-[1px] w-full bg-grayBroker">
  </div>
  <article class="grid grid-cols-2 md:grid-cols-3 w-full max-w-2xl mx-auto gap-10">
    <ItemDetails 
      icon="../assets/Group.svg" 
      content="3 Habitaciones" 
    />
    <ItemDetails 
      icon="../assets/Group.svg" 
      content="3 Habitaciones" 
    />
    <ItemDetails 
      icon="../assets/Group.svg" 
      content="3 Habitaciones" 
    />
    <ItemDetails 
      icon="../assets/Group.svg" 
      content="3 Habitaciones" 
    />
    <ItemDetails 
      icon="../assets/Group.svg" 
      content="3 Habitaciones" 
    />
    <ItemDetails 
      icon="../assets/Group.svg" 
      content="3 Habitaciones" 
      />
  </article>
</section>