---
const {content, icon, sx} = Astro.props;
---

<section class={`flex items-center gap-x-3 ${sx}`}>
  {icon && 
  <img src={icon} alt='Icon' title='Icon' class="w-[29px] h-[29px]"/>
  }
  {content && <p class="text-[14px] text-black leading-6">{content}</p>}
</section>
