---
import Button from "./Buttons/Button.astro";
const { t } = Astro.props;
---

<section class="w-full h-[720px] !bg-[url(/assets/images/tour3D.webp)] relative bg-center bg-cover bg-no-repeat">
  <Button sx='w-fit absoluteCenter z-10'>
    <Fragment slot="content">
      <a href="/" aria-label="Tour 3D" target="_blank">
        <p class="text-white font-semibold hover:text-opacity-85">{t('tour3d_button')}</p>
     </a>
    </Fragment>
  </Button>
</section>