---
import Button from "./Buttons/Button.astro";
---

<section class="w-full h-[720px] !bg-[url(/assets/images/tour3D.webp)] relative bg-center bg-no-repeat">
  <Button sx='w-fit absoluteCenter z-10'>
    <Fragment slot="content">
      <a href="/" aria-label="Tour 3D" target="_blank">
        <p class="text-white font-semibold hover:text-opacity-85">Tour 3D (Hacer recorrido)</p>
     </a>
    </Fragment>
  </Button>
</section>