---
import Image4 from "@/assets/Image4.webp";
import Image5 from "@/assets/Image5.webp";
import Button from "./Buttons/Button.astro";
const { t } = Astro.props;
---

<section class="max-w-[1600px] mx-auto px-[30px] md:px-[50px] transition-all ease-in-out">
  <article class="flex flex-col-reverse flex-grow lg:grid lg:grid-cols-2 gap-5">
    <article class="flex h-full w-full gap-5 justify-end lg:justify-start">
      <div>
        <img src={Image4.src} width='auto' height='auto' alt="Sand Residences  Cana Bay" title="Sand Residences  Cana Bay" class="justify-center mt-[80px] rounded-[20px]" />
      </div>
      <div>
        <img src={Image5.src} width='auto' height='auto' alt="Image5" title="Image5" class="justify-center rounded-[20px]" />
        <Button sx='w-fit mt-5 hidden lg:flex border-blueBroker' sxIcon='!text-blueBroker'>
          <Fragment slot="content">
            <a href="https://api.whatsapp.com/send?phone=+18094435218&text=Hola,%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20su%20nuevo%20proyecto%20Sand%20Residences." title="numero whatsapp Sand Residences" aria-label="Reserve" target="_blank" class="text-blueBroker hover:text-opacity-85 font-primary">
              ยก{t('welcome_button')}!
            </a>
          </Fragment>
        </Button>
      </div>
    </article>
    <article class="flex flex-col justify-center h-fit gap-y-10 w-full md:max-w-3xl lg:w-full">
      <h2
        class="font-bold max-w-2xl leading-10 text-[36px] break-words font-primary"
      >
      {t('welcome')} Sand Residences Cap Cana
      </h2>
      <h3 class="leading-8 break-words font-light font-primary w-full lg:max-w-xl">
        {t('welcome_subtitle')}
      </h3>
      <Button sx='w-fit flex lg:hidden border-blueBroker' sxIcon='!text-blueBroker'>
        <Fragment slot="content">
          <a href="https://api.whatsapp.com/send?phone=+18094435218&text=Hola,%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20su%20nuevo%20proyecto%20Sand%20Residences." title="numero whatsapp Sand Residences" aria-label="Reserve" target="_blank" class="text-blueBroker hover:text-opacity-85 font-primary">
            ยก{t('welcome_button')}!
          </a>
        </Fragment>
      </Button>
    </article>
  </article>
</section>